﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
<div class="col-xs-12 nopadding cart-promocode">
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", new { isGiftCard = true }, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('giftcard')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyGiftCard" })
                                        )
    {
        @Html.AntiForgeryToken();
        <h2 class="aside-panel collapse in" data-toggle="collapse" data-target="#cart-gift-card">@WebStore_Resources.LabelGiftCardNumber</h2>
        <div id="cart-gift-card" class="aside-panel-block collapse in">
            <div class="col-xs-12 nopadding md-apply-code-block">
                <label class="md-code-label">@WebStore_Resources.EnterGiftCardMessage</label>
                <input type="text" id="giftCard" name="discountCode" value="@Model.GiftCardNumber" class="form-input" size="40" maxlength="100" />
                <div class="input-group-btn md-code-button">
                    <button type="submit" class="btn-text btn-color-primary">@WebStore_Resources.ButtonApply</button>
                </div>
                <div id="giftCardMessageContainer" class="coupon-msg"></div>
            </div>
        </div>
    }
</div>