﻿@using Znode.Engine.WebStore.ViewModels
@model AddressViewModel

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string _addressType = ViewBag.AddressType;
    string _shippingBillingDisplay = ((Convert.ToString(Request.QueryString["mode"]) == "guest" || Model.AddressId > 0) && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? "display:block" : "display:none";
}
<div class="col-xs-12 nopadding">
    <p id="AddressError" class="error-msg" />
    <div class="col-xs-12 col-sm-6 nopadding edit-address-form">
        @Html.ValidationSummary(true)
        @if (Equals(ViewBag.HideDisplayName, null) || Equals(ViewBag.HideDisplayName, false))
        {
            @* The display name input should be toggled via a parameter per view as needed *@
            <div class="form-group">
                <div class="col-xs-12 nopadding">
                    <label for="address_name" class="required">@WebStore_Resources.ColumnDisplayName</label>
                    <p class="sub">@WebStore_Resources.HintTextDisplayName</p>
                </div>
                <div class="col-xs-12 nopadding">
                    @Html.TextBoxFor(m => m.DisplayName, new { @id = "address_name" })
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.DisplayName)</p>
                </div>
            </div>
        }
        else
        {
            @* Set default value for model validation *@
            <div class="col-xs-12 nopadding"><input id="address_name" name="Name" type="hidden" value="Default Address"></div>
        }
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_firstname" class="required">@WebStore_Resources.ColumnFirstName</label>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.TextBoxFor(m => m.FirstName, new { @id = "address_firstname" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName)</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_lastname" class="required">@WebStore_Resources.ColumnLastName</label>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.TextBoxFor(m => m.LastName, new { @id = "address_lastname" })
                <p class="form-error">@Html.ValidationMessageFor(m => m.LastName)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_name">@WebStore_Resources.ColumnCompanyName</label>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.TextBoxFor(m => m.CompanyName)
                <p class="error-msg">@Html.ValidationMessageFor(m => m.CompanyName)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_street1" class="required">@WebStore_Resources.ColumnStreetAddress</label>
            </div>
            <div class="col-xs-12 nopadding">@Html.TextBoxFor(m => m.Address1, new { @id = "address_street1", @class = "form-input-long" })</div>
            <div class="col-xs-12 nopadding margin-top">@Html.TextBoxFor(m => m.Address2, new { @id = "address_street2", @class = "form-input-long" })</div>
            <p class="error-msg">@Html.ValidationMessageFor(m => m.Address1)</p>
        </div>

        @*country dropdown list*@
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_country" class="required">@WebStore_Resources.ColumnCountry</label>
            </div>
            <div class="col-xs-12 nopadding address-country-name">
                @Html.DropDownListFor(m => m.CountryName, Model.Countries, new { @id = "ShippingAddressModel_CountryCode", @class = "address_country" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.CountryName)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_state" class="required">@WebStore_Resources.ColumnState</label>
            </div>
            <div class="col-xs-12 nopadding" id="stateCodeTextBox">
                @Html.TextBoxFor(m => m.StateName, new { @id = "txtStateCode", @class = "txtStateCode" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.StateName, null, new { @id = "valtxtStateCode" })</p>
            </div>
        </div>


    </div>
    <div class="col-xs-12 col-sm-6 nopadding edit-address-form address-form">
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_city" class="required">@WebStore_Resources.ColumnCity</label>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.TextBoxFor(m => m.CityName, new { @id = "address_city" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.CityName)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_zipcode" class="required">
                    @WebStore_Resources.LabelPostalCode
                </label>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.TextBoxFor(m => m.PostalCode, new { @id = "address_postalcode", @class = "form-input-short" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.PostalCode)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_phonenumber" class="required">
                    @WebStore_Resources.ColumnPhoneNo
                </label>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "address_phoneno", @class = "form-input-short" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber)</p>
            </div>
        </div>
        @if (!HttpContext.Current.User.Identity.IsAuthenticated && Equals(_addressType, WebStoreConstants.ShippingAddressType))
        {
            <div class="form-group">
                <div class="col-xs-12 nopadding">
                    <label for="address_email" class="required">
                        @WebStore_Resources.EmailAddress
                    </label>
                </div>
                <div class="col-xs-12 nopadding">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @id = "address_emailaddress", @class = "form-input-short" })
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                </div>
            </div>
            <div class="col-xs-12 nopadding styled-input">
                <input type="checkbox" id="use_same_as_shipping_address" name="UseSameAsShippingAddress" value="true" @(Model.UseSameAsShippingAddress ? "checked='checked'" : "") /><label for="use_same_as_shipping_address">@WebStore_Resources.CheckBoxTextBillingShippingSame</label>
            </div>
        }

        @if (Equals(controllerName, "User"))
        {
            <div class="col-xs-12 nopadding styled-input">
                <input type="checkbox" id="asdefault_shipping" name="IsDefaultShipping" value="true" @(Model.IsDefaultShipping ? "checked='checked'" : "") /><label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
            </div>
            <div class="col-xs-12 nopadding styled-input">
                <input type="checkbox" id="asdefault_billing" name="IsDefaultBilling" value="true" @(Model.IsDefaultBilling ? "checked='checked'" : "") /><label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
            </div>
        }
        else if (Model.AddressId > 0 && Equals(_addressType, WebStoreConstants.ShippingAddressType))
        {
            <div class="col-xs-12 nopadding styled-input">
                <input type="checkbox" id="asdefault_shipping" name="IsDefaultShipping" value="true" @(Model.IsDefaultShipping ? "checked='checked'" : "") /><label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
            </div>
        }
        else if (Model.AddressId > 0 && Equals(_addressType, WebStoreConstants.BillingAddressType))
        {
            <div class="col-xs-12 nopadding styled-input">
                <input type="checkbox" id="asdefault_billing" name="IsDefaultBilling" value="true" @(Model.IsDefaultBilling ? "checked='checked'" : "") /><label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
            </div>
        }
        else if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="col-xs-12 nopadding styled-input">
                <input type="checkbox" id="asdefault_shipping" name="IsDefaultShipping" value="true" @(Model.IsDefaultShipping ? "checked='checked'" : "") /><label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
            </div>
            <div class="col-xs-12 nopadding styled-input">
                <input type="checkbox" id="asdefault_billing" name="IsDefaultBilling" value="true" @(Model.IsDefaultBilling ? "checked='checked'" : "") /><label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
            </div>
        }
        <div class="col-xs-12 margin-bottom nopadding">
            <div class="pull-right">
                <button type="submit" class="btn-text btn-color-primary" id="btnSaveAddress">@WebStore_Resources.ButtonSaveChanges</button>
                @if (Equals(controllerName, "Checkout"))
            {
                    @Html.HiddenFor(model => model.IsDefaultShipping)
                    @Html.HiddenFor(model => model.IsDefaultBilling)
                    @Html.HiddenFor(model => model.OtherAddressId)
                    <button type="button" class="btn-text btn-color-secondary" id="btnCancelAddress" onclick="javascript: location.reload();" data-dismiss="modal">@Admin_Resources.ButtonCancel</button>
                }
                else
                {
                    <a href="/User/AddressBook" class="btn-text btn-color-secondary" id="btnCancelAddress">@WebStore_Resources.ButtonCancel</a>
                }
            </div>
        </div>

    </div>
</div>

@Html.HiddenFor(ob => ob.StateName, new { @id = "hdn_StateCode" })
@Html.HiddenFor(ob => ob.ExternalId)
@Html.HiddenFor(ob => ob.CountryName, new { @Value = "US" })

@if (Model.AddressId > 0)
{
    @Html.HiddenFor(m => m.AddressId)
    @Html.Hidden("addressType", _addressType);
}
@if (Model.AccountId > 0)
{
    @Html.HiddenFor(m => m.AccountId)
    @Html.HiddenFor(m => m.AccountAddressId)
}
<script>
    $(document).ready(function () {
        Checkout.prototype.DisableFields();
    })
</script>


