﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    var currencyCode = string.IsNullOrEmpty(Model.CurrencyCode) ? DefaultSettingHelper.DefaultCurrency : Model.CurrencyCode;
}

<h2 class="aside-panel">Cart Total</h2>
<div class="md-total-block">
    <div class="form-group">
        <div class="col-xs-6 nopadding">
            <p>@WebStore_Resources.LabelSubTotal</p>
        </div>
        <div class="col-xs-6 nopadding">
            <p>@Helper.FormatPriceWithCurrency(Model.SubTotal, currencyCode)</p>
        </div>
    </div>
    @if (Model.Discount > 0)
    {
        <div class="form-group">
            <div class="col-xs-6 nopadding">
                <p>@WebStore_Resources.ColumnDiscounts</p>
            </div>
            <div class="col-xs-6 nopadding">
                <p id="dynamic-discount-amount">@Helper.FormatPriceWithCurrency(0 - Model.Discount, currencyCode)</p>
            </div>
        </div>
    }
    @if (Model.TaxCost > 0)
            {
        <div class="form-group">
            <div class="col-xs-6 nopadding">
                <p>@WebStore_Resources.ColumnTax</p>
            </div>
            <div class="col-xs-6 nopadding">
                <p>@Helper.FormatPriceWithCurrency(Model.TaxCost, currencyCode)</p>
            </div>
        </div>
    }
    @if (Model.ShippingCost > 0)
            {
        <div class="form-group">
            <div class="col-xs-6 nopadding">
                <p>@WebStore_Resources.LabelShippingCost</p>
            </div>
            <div class="col-xs-6 nopadding">
                <p id="dynamic-shipping-amount">@Helper.FormatPriceWithCurrency(Model.ShippingCost, currencyCode)</p>
            </div>
        </div>
    }
    @if (Model.GiftCardApplied)
    {
        <div class="form-group">
            <div class="col-sm-6 nopadding">
                <p>@WebStore_Resources.ColumnGiftCardAmount</p>
            </div>
            <div class="col-sm-6 nopadding">
                <p id="dynamic-giftcard-amount" class="left-sm-shift">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, currencyCode)</p>
            </div>
        </div>
    }
    <div class="form-group total">
        <div class="col-xs-6 nopadding">
            <p>@WebStore_Resources.LabelGrandTotal</p>
        </div>
        <div class="col-xs-6 nopadding">
            <p id="dynamic-order-total" class="left-sm-shift"><span>@Helper.FormatPriceWithCurrency(Model.Total, currencyCode)</span></p>
            @Html.Hidden("hdnTotalOrderAmount", Model.Total)
        </div>
    </div>

    @Html.HiddenFor(m => m.Total)

    @Html.HiddenFor(m => m.SubTotal)

    @Html.HiddenFor(m => m.Discount)

    @Html.HiddenFor(m => m.ShippingCost)

    @Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

    @Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

    @Html.Hidden("hdnAnonymousUser", Model.UserId)
</div>