﻿@using Znode.Engine.WebStore.Agents;
@{
    ViewBag.Title = "404";
    Layout = null;
    string customerServiceEmail = PortalAgent.CurrentPortal?.CustomerServiceEmail;
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
}
<div class="container main-wrapper">
    <div class="col-sm-12 nopadding margin-bottom">
        <h1>Oops, We Can't Find What You're Looking For!</h1>
    </div>
    <div class="col-sm-12 nopadding margin-bottom">
        <p>
            The page may be temporarily unavailable or may no longer exist. Please double-check the URL or use the navigation menu to get where you need to go. If you would like to report this issue, please send a detailed description to our customer care.
            @customerServicePhoneNumber
        </p>
        <p>OR</p>
       @{
           string customerServiceEmailValue = customerServiceEmail;
           if (!string.IsNullOrEmpty(customerServiceEmailValue))
           {
               char[] seperator = new char[] { ',' };
               string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
               foreach (string email in customerServiceEmails)
               {
                <div><a href="@(" mailto:" + email)">Send us an Email</a></div>
               }
           }
    }
    </div>
</div>
