﻿@import "_base.scss";

.brand-container{
    .md-page-title-div{border-bottom:4px solid $base-color-primary;}
    .brand-filter{text-align:center;float:left;width:100%;margin:0;padding:0;
        li{list-style:none;display:inline-block;padding-right:30px;
             a{font-size:18px;font-family:$base-font-family-bold;}
        }
    }
    .brand-list{display:block;padding:0;margin-top:15px;
        li{display:inline-block;vertical-align:top;margin:10px 0;width:49%;}
        a{text-align:center;
          &:hover{color:$base-color-primary;}
          label{text-align:center; width:100%;cursor:pointer;padding-top:5px;}
          img{margin:0 auto;max-width:130px;max-height:130px;min-height:130px;}
        }        
    }    
}

// Media Query.
@include screensize(x-small) { 
    .brand-container{padding:0 5px;
        .brand-filter li{padding-right:13px;
            a{font-size:14px;}
        } 
    }
    // Brand Category Banner.
    .brand-banner{margin-bottom:25px;
        img{width:100%;max-height:250px;}
        h1{font-size:$base-font-size + 7;margin:0 0 15px 0;color:$base-color-primary;}
        p{margin:0 0 15px 0;}
    }
}
@include screensize(small) { 
    .brand-container{padding:0;
        .brand-filter li{padding-right:30px;
            a{font-size:18px;}
        } 
        .brand-list li{width:19%;}
    }
    // Brand Category Banner.
    .brand-banner{
        h1,p{margin:0 15px 15px 0;}
    }
}