﻿@import "_base.scss";

.login-container{font-weight:$base-font-normal;
    .inner-container{border: 1px solid $border-bgcolor-default;border-top: 4px solid $base-color-primary;padding:35px 25px;box-shadow:0 2px 3px rgba(0,0,0,0.08);
        .form-group{
            label{font-size:$base-font-size + 1;margin-bottom:10px;font-weight:$base-font-normal;}
            i{height:38px;width:38px;line-height:38px;text-align:center;}
            input{padding-left:48px;height:38px;line-height:1;
                &.btn-text{padding:0 15px;}
            }
        }
        input[type="text"],input[type="password"]{border-radius:0;padding-left:48px;}
        .login-icon{font-size:$base-font-size + 7;padding:0 8px;border:1px solid $border-bgcolor-default;color:#8e8e8e;}
        .btn-text-login{display: inline-block;min-width:70px;text-align: center;font-family:$base-font-family;font-size:$base-font-size + 1;border:0;color:$base-color-white;text-transform:none;float:right;padding:0 15px;height:38px;line-height:38px;
            &:hover{opacity:0.9;}
        }
        .account-signup-container{
            h3{color:$text-fgcolor-default;font-size:$base-font-size + 5;margin:0 0 15px;line-height:1.35;}
            p{margin:0 0 15px;line-height:1.5;}
            .account-signup-link,.checkout-login-asguest{margin:10px 0 0;float:right;
                &:hover{text-decoration:none;opacity:0.9;}
            }
        }
        .login-form-div{
            h3{color:$text-fgcolor-default;font-size:$base-font-size + 5;margin:0 0 15px;line-height:1.35;}
            .registerec-customer{margin:0 0 15px;line-height:1.5;}
        }
        .checkout-new .checkout-guest-container{display:none}
        .social{border-top:1px solid $border-bgcolor-default;position:relative;margin-top: 15px;
                .oval-seprator{display:block;width:40px;height:40px;border: 1px solid $border-bgcolor-default;text-align: center;position: absolute;left:43%;top: -21px;background-color: #a4a4a4;color:$base-color-white;padding:8px;line-height:22px;}       
                .top-bottom-space{margin:32px 0 25px;}
        }   
        .remember-me label{margin-top:0;line-height:22px;font-size:14px;}     
        .checkout-guest-container{margin-top:15px;}
        .account-signup-link:hover i,.checkout-login-asguest:hover i{color:$base-color-primary;}
    }
}
// Socal Media.
.Facebook-btn{background-color:#435f9c;margin-bottom:5px;}
.Google-btn{background-color:#de4931;margin-bottom:5px;margin-left:5px;}
.social-login{width:150px !important;}

// Media Query.
@include screensize(x-small) {
    .login-container{padding:0 5px 30px;
        .inner-container,.register-container{
            .account-signup-container{padding-right:0;margin-bottom:25px;
                .user-icon{display:none;}
            }
            .login-form-div{padding-left:0;}
        }
    }
    .login-form-forgotpassword{float:left;}
    .already-account{padding:0;}
}
@include screensize(small) {
    .login-container{padding:0 0 30px;
        .inner-container,.register-container{
        .account-signup-container{padding-right:15px;margin-bottom:0;
                    .user-icon{display:block;}
            }
            .login-form-div{padding-left:15px;}
        }
    }
    .login-form-forgotpassword{float:right;}
}
@include screensize(desktop) {
    .social-login{width:170px !important;}    
}