﻿@import "_base.scss";

// Product Overview Details.
.product-view-details .product-overview{line-height:26px;color:$text-fgcolor-heading;font-size:$base-font-size + 1;
    .product-name{font-size:$base-font-size + 12;font-family:$base-font-family-bold;letter-spacing:-0.01em;margin:0 0 15px;}
    .product-rating{margin-bottom:15px;height:20px;
        .star-rating i{color:$text-fgcolor-default;}
        .review-link{margin-left:5px;display:inline-block;vertical-align:middle;color:$text-fgcolor-default;
            a{color:$text-fgcolor-default;}
            &.show-in-quick-view{display:none;}
        }
    }
    //  Have to remove this code because it is not required SKU and Brand are removed from front-end
    //  .product-number-details{float:left;width:100%;}
    //  .product-number{float:left;line-height:20px;margin:5px 0;display:block;padding-right:15px;}
    //  .product-brand{float:left;line-height:20px;margin:5px 0;display:block;padding-left:15px;border-left:1px solid $border-bgcolor-default;}
    //  .product-number span,.product-brand span,.product-vendor span{font-family:$base-font-family-bold;}
    //  .product-highlight{
    //      img{vertical-align:middle;max-height:35px;margin:0 auto;border:1px solid $border-bgcolor-default;}
    //      ul{margin:0; padding:5px 0;
    //          li{display:inline-block;list-style:none;padding:0 3px;}
    //      }
    //      .owl-theme .owl-controls{top:-20px;
    //              .owl-buttons .owl-prev{width:20px;height:20px;line-height:20px;}
    //              .owl-buttons .owl-next{width:20px;height:20px;line-height:20px;margin-right:5px;}
    //      }
    //  }
    .product-short-description{color:$checkbox-radio-label;}
    .product-description{color:$checkbox-radio-label;font-size:$base-font-size + 1;letter-spacing:0.005em;border-bottom:1px solid $border-bgcolor-default;padding:5px 0 35px;}
    .product-status{background-color:#f8f8f8;border:1px solid $border-bgcolor-default;padding:6px 0;
            p{color:#05901b;font-size:12px;line-height:20px;margin-bottom:0;}
            i{font-size:30px;color:#05901b;vertical-align:middle;padding:0 5px;line-height:58px;}
    }
    .product-bundles{background-color:#f7f7f7;border:1px solid $border-bgcolor-default;padding:5px;max-height:300px;overflow-y:auto;
        img{margin:0 auto;}            
        .status-outofstock{font-size:12px;font-family:$base-font-family-bold;color:$base-color-primary;}
        ul{margin:0;padding:0;
            li{display:inline-block;vertical-align:top;width:24%;margin-bottom:10px;
                h5{font-size:$base-font-size;}
            }
        }
    } 
    .product-details-qty, .group-item-details {
        .error-msg{font-size:12px;font-family:$base-font-family-bold;color:$base-color-primary;} 
    }       
}
.md-add-to-cart-container{float:left;margin:5px 0 20px;
    .md-share-btns{margin:5px 0 15px;padding-top:15px;border-top:1px solid $border-bgcolor-default;
        button{padding:0 2px;margin-bottom:5px;background-color:$base-color-primary;line-height:32px;height:32px;width:32px;border:none;color:$base-color-white;}
    }
    .add-to-wishlist{
        &:hover,&:active,&:focus{background-color:$base-color-primary;color:$base-color-white !important;}
    }
}
.md-spinner-btns{float:left;padding:10px 0;margin-right:10px;
    .md-spinner{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
        button,input{width:30px;height:43px;border:solid 1px $border-bgcolor-default;line-height:1;font-size:$base-font-size - 2;color:$text-fgcolor-default;background-color:$base-color-white;padding:0;border-radius:0;}
        input{width:44px;font-size:$base-font-size + 1;text-align:center;color:$text-fgcolor-heading;}
    }
}
.product-view-details .product-info,.product-overview{padding:0;
    .product-price{
        h2{font-size:25px;font-family:$base-font-family-bold;margin:15px 0;}
        .cut-price{color:$text-fgcolor-default;padding-left:5px;text-decoration:line-through;font-size:20px;}
    }  
    .product-variations{
        .attributes{position:relative;padding-bottom:20px;border-bottom:1px solid $border-bgcolor-default;padding-top:15px;
            &:first-child{padding-top:0;}
        }
        .product-wishlist{float:left;
            .add-to-actions{
                a{display:inline-block;margin:10px 3px;vertical-align:middle;border:1px solid $border-bgcolor-default;line-height:41px;padding:0 12px;position:relative;transition: all .3s;color:$widget-hover-cart;text-decoration:none;width:43px;text-align:center;
                    i{font-size:$base-font-size + 4;vertical-align:middle;}
                }
                form{float:left;
                    button{color:$base-color-white;background-color:$base-color-primary;border:none;padding:0 20px;display:inline-block;margin:10px 5px 10px 0;text-transform:uppercase;vertical-align:middle;border:1px solid $border-bgcolor-default;line-height:41px;
                        i{font-size:$base-font-size + 4;margin-right:7px;}
                    }
                }
                .add-to-wishlist{visibility:visible;opacity:1;left:0;}
                .add-to-compare{visibility:visible;opacity:1;left:0;}
            }
        }
        .your-pricing{
            h3{margin:15px 0;color:$base-color-primary;font-family:$base-font-family-bold;font-size:$base-font-size + 12;}
            button{margin-top:5px;}
        }
        .inventory-availability{margin:0 0 10px;font-size:12px;color:$error-msg-fgcolor;
            .error-msg{margin-left:5px;}
        }
        .email-a-friend{line-height:1.5;font-size:$base-font-size;margin-bottom:10px;}
        .product-customize{
            .addons-attributs{padding:5px 0;
                h4{font-size:$base-font-size + 1;font-family:$base-font-family-bold;min-height:20px;}
                label{font-size:$base-font-size + 2;display:inline-block;vertical-align:top;text-transform:uppercase;}
                .form-group{float:left;width:100%;padding-left:0; margin-bottom:5px;
                    .cut-price {padding-right:0;}
                    .original-price {padding-left:5px;}
                }
                select{width:50%;}
                .md-group-product-list{float:left;width:100%;
                    table{
                        th{text-transform:uppercase;}
                        tr{border: 1px solid $border-bgcolor-default;
                           &:hover{background-color:transparent;}
                           th{text-align:center;background-color:#f6f6f6;font-size:$base-font-size;font-family:$base-font-family-bold;
                               &:nth-child(2){text-align:right;}
                           }
                           td{border-bottom:1px solid $border-bgcolor-default;border-right:1px solid $border-bgcolor-default;
                                .md-spinner-btns{margin-right:0;float:none;
                                    .md-spinner{justify-content:center;-webkit-justify-content:center;}
                                }
                              &.md-product-image{
                                  img{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.075);box-shadow:0 1px 2px rgba(0,0,0,0.075);width:100px;height:auto;margin:auto;}
                                  h4{font-size:$base-font-size;text-transform:capitalize;line-height:1.3;text-align:center;margin:5px 0 0 0;}
                              }
                              &.md-product-price{font-size:$base-font-size + 8;font-family:$base-font-family-bold;color:$base-color-primary;text-align:right;}
                            }
                        }
                    }
                }
            }
            .swatch-img-container{padding:0;
                label{display:block;font-size:$base-font-size;text-transform: capitalize;font-weight:normal;}
                ul{padding:0;margin:0;
                    li{display:inline-block;cursor:pointer;}
                    img{border:1px solid $border-bgcolor-default;margin:0 5px 5px 0;max-height:40px;max-width:40px;
                        &:hover{border:1px solid $base-color-primary;}
                    }
                }                                                
            }
            // Color Swatch Img.
            .size-swatch{padding:0;margin:0;
                li{display:inline-block;cursor:pointer;margin:0 2px 5px 0;line-height:28px;
                    label{text-align:center;margin:0;border:1px solid $border-bgcolor-default;background-color:#f4f4f4;font-size:$base-font-size;
                        &:hover{border:1px solid $base-color-primary;}
                        &:before,&:after{color:transparent;}                            
                    }
                    label.active{border:1px solid $base-color-primary;}
                    label.scratch-image{padding:0;height:28px;line-height:28px;}
                    label.scratch-text{padding:0;height:28px;text-align:center;line-height:28px;padding:0 2px;}
                }
            }
            // Swatch Img default
            .swatch-img li img{height:26px;line-height:26px;border:1px solid $base-color-white;}
            // Color Swatch Img.
            .color-swatch li label i{font-size:26px;}
            .product-wishlist{
                button{margin-bottom:5px;}
                .social-share ul{padding:0; margin:0;float:left;
                    li{display:inline-block;}
                    i{font-size:26px;color:#787878;}
                }
            }
            .group-product-list{border-bottom:1px solid $border-bgcolor-default;padding:5px 0;margin:0;line-height:32px;
                 img{width:65px;max-height:65px;float:left;}
                 .group-item-details{padding-left:20px;padding-right:5px;}
                 .quantity-state{padding-left:10px;font-size:12px;}
                 .dynamic-product-price{font-family:$base-font-family-bold;}
            }
            //  This code is for new input fields.
            .md-product-attributes{
                .md-product-attribute-row{float:left;width:100%;
                    .md-attribite-sizes{float:left;padding:5px 8px;
                        .md-attribute-unit,input{width:38px;height:38px;text-align:center;}
                        &:last-child{padding-right:0;}
                    }
                    &:last-child .md-attribite-sizes{padding-bottom:0;}
                    .md-headings-top{padding:0 8px;line-height:38px;}
                    .md-headings-left{padding-left:0;width:80px;line-height:38px;
                        .md-attribute-unit{text-align:left;width:100%;}
                    }
                }
            }                
        }
        .wishlist-status .success-msg{padding:2px 0;}
    }
}
.also-purchased{background-color:#f4f4f4;padding:60px 5px 45px;margin-top:-60px;
    h4{font-size:$base-font-size + 1;border-bottom:1px solid $border-bgcolor-default;margin-bottom:16px;padding-bottom:10px;letter-spacing:1px;text-transform:uppercase;color:$text-fgcolor-heading;}
    .view-item{border:none;
        &:hover{
            .product-img{box-shadow:0 15px 20px -5px rgba(0, 0, 0, 0.2);}
        }
        .product-img{border:0;}
        .product-details .title{letter-spacing:0;text-transform:capitalize;border-bottom:none;}
    }
    .owl-controls{top:-45px !important;
        .owl-buttons{
            .owl-prev,.owl-next{background-color:transparent;}
        }
    }
}
.md-pdp-right-aside{
    .custom-block{color:$base-color-primary;margin-bottom:30px;padding:0 20px;
        .block{clear:both;padding:20px 0;border-bottom:solid 1px $border-bgcolor-default;margin-bottom: 0;
            img{width:40px;height:40px;margin:5px 10px;float:left;}
            i{color:$title-color;font-size:$base-font-size + 27;}
            h3{font-size:$base-font-size + 1;font-family:$base-font-family-bold;line-height:20px;letter-spacing:0.005em;margin-left:80px;color:$text-fgcolor-default;}
            &:last-child{border:none;}
        }
        img{width:100%;height:auto;}
    }
}
// Customer Review
.write-review .form-group{float:left;width:100%;}
.write-review .setrating{
    input {position: absolute;top: 0;left: -9999px;}
    label{cursor:pointer;}    
}
@import "widgets/_tabs.scss";
@import "widgets/_image-zoom.scss";

// Media Query
@include screensize(x-small) {
    .product-view-details{padding:0 5px;
        .product-images{padding-right:0;}
        .product-overview{padding-left:0;margin-top:15px;}
    }
    .product-view-details .product-overview {
        .product-bundles ul li{width:48%;}
        .overview-small-view{padding:0;}       
    }
    .product-view-details .product-info{
        .product-variations .product-customize .addons-attributs .md-group-product-list table{
            th,td{padding:5px;}
        }
        // Personlised Attributs
        .personlised-attribute{
                input[type="text"]{width:75%;}
        }
    }
    .write-review,.all-reviews{padding:0 5px;}
    .btn-print{display:none;}
    .md-pdp-right-aside{padding:0 5px;
        .md-product-support,.md-advertisement{width:100%;}
    }
}
@include screensize(xl-small) {
    .md-pdp-right-aside{padding:0 5px;
        .md-product-support,.md-advertisement{width:50%;}
    }
}
@include screensize(small) {
    .product-view-details{padding:0;
        .product-images{padding-right:15px;}
        .product-overview{padding-left:15px;margin-top:0;}
    }
    .product-view-details .product-overview {
        .product-bundles ul li{width:24%;}    
    }
    .product-view-details .product-info{
        .product-variations .product-customize .addons-attributs .md-group-product-list table{
            th,td{padding:10px 20px;}
        }
        // Personlised Attributs
        .personlised-attribute{
                input[type="text"]{width:50%;}
        }
    }
    .write-review,.all-reviews{padding:0;}
    .md-pdp-right-aside{padding:0 15px}
}
@include screensize(medium) {
    .product-view-details .product-overview {
        .overview-small-view{padding:0 5px 0 0;}
    }
    .md-pdp-right-aside{
        .md-product-support,.md-advertisement{width:100%;}
    }
}
@include screensize(desktop) {
    .btn-print{display:inline-block;}
}

@media print{
    .btn-text,.header-nav {display:none;}
    .product-view-details .product-overview{margin-top:15px;padding-left:0;}
    .product-details-tab .nav-tabs > li.active > a, .product-details-tab .nav-tabs > li.active > a:hover, .product-details-tab .nav-tabs > li.active > a:focus{font-family:$base-font-family-bold;}
    .product-view-details .product-images .image-view{
        .easyzoom-with-thumbnails .easyzoom-img img{width:300px!important;float:left;border:none;}
        .product-altimages{display:block;
            .simpleLens-thumbnails-container{width:310px!important;margin:auto;
                .owl-item{width:78px!important;}
            }
        }
    }
    .product-view-details .product-rating a,.product-details-tab ul li a{color:#2976c9 !important;}
    .product-details-tab ul li {width:auto;
        a{font-weight:normal;margin-right:37px !important;}
    }
    .product-view-details .product-info .product-variations{display:block;
        .md-add-to-cart-container .md-share-btns{display:none;}
        .product-customize .addons-attributs .attributes .swatch-img.size-swatch li.styled-input{
            label:before{display:none;}
        }
    }
    .md-pdp-right-aside{display:none;}
}