﻿@import "_base.scss";

.default-template .product-list-widget .owl-theme .owl-controls{position:static;margin-bottom:10px;}

@include screensize(x-small) {
    .template-product-list{padding:10px;display:inline-block;
        .item{float:left;width:50%;text-align:center;}
    }
    .simple-static-content-page{padding:20px 5px 50px;
        h1,h2{font-size:$base-font-size + 7;padding:0 0 10px;margin:0;color:$base-color-primary;line-height:1.35;}
        h1{border-bottom:4px solid $base-color-primary;}
    }
    .default-template{padding:20px 5px 50px;}
}

@include screensize(small) {
    .template-product-list .item{width:33.3%;}
    .simple-static-content-page{padding:20px 0 50px}
    .default-template{padding:20px 0 50px;}
}

@include screensize(medium) {
    .template-product-list .item{width:25%;}
}