﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
<li>
    <article class="product-item">
        <div class="view-item category-item">
            <div class="category-details">
                <a href="@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null,Model.CategoryId)">@WebUtility.HtmlDecode(Model.CategoryName)</a>
            </div>
        </div>
    </article>
</li>
