﻿@using Znode.Engine.WebStore.ViewModels
@model List<CategoryViewModel>
@if (Model?.Count > 0)
{
    <div class="list-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-title-edit accordion-toggle active" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#accordion-category"><span>Category</span></h4>
            </div>
            <div id="accordion-category" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul id="view-option-category" class="filter-list">
                        @foreach (var _category in Model)
                        {
                            @Html.Partial("_CategoryGridRow", _category)
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" id="product-grid"></div>
}

