﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();
    string cateGoryImagePath = PortalAgent.CurrentPortal.MediaServerUrl + Model.Attributes?.Value("CategoryImage");

    searchProperties.Add(WebStoreConstants.PageSize, Request.QueryString[WebStoreConstants.PageSize]);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);

}
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId">
    <!-- Breadcrumb -->
    <div class="container-fluid breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <div id="breadCrumb">@Html.Raw(Model.BreadCrumbHtml)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">

        <div class="container">
            <div class="row flex-wrap">
                <aside class="col-xs-12 col-sm-3 side-bar">
                    <z-widget>@Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>
                    <z-widget>@Html.WidgetPartial("Facet", "Facet", "125", Model.CategoryName, Model.CategoryId)</z-widget>
                    <div class="col-xs-12 nopadding">
                        <div id="compareProductList">
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding md-custom-aside margin-top-bottom">
                        @*  Commented For Future use for category page Featured Products
                                <div class="md-featured-product-bar margin-bottom">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><span>@Html.RenderMessage("FeaturedAsideTitle")</span></h4>
                                    </div>
                                </div>
                            </div>*@
                        <div class="md-custome-html-block margin-top-bottom">
                            <div class="aside-html-block">
                                <p class="text">@Html.Raw(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-xs-12 col-sm-9 category-landing-container">
                    <div class="col-xs-12 nopadding brand-banner">
                        <div class="col-xs-12 nopadding">
                            <img src="@cateGoryImagePath" class="img-responsive" data-src="@cateGoryImagePath" alt="Image" title="@Attributes.Value(Model.Attributes, "ImageAltText")" />
                        </div>
                    </div>
                    <z-widget>@Html.WidgetPartial("ProductGrid", "ProductList", "124", Model.CategoryName, Model.CategoryId, searchProperties)</z-widget>
                    @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
            {
                if (!Helper.InfinityLoading)
                {
                            <div class="col-xs-12 nopadding">
                                <div class="category-more text-center margin-top-bottom">
                                    <a href="@Url.Action("Index","Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true })" class="btn-text btn-color-primary">
                                        @WebStore_Resources.LabelViewAll @Html.Raw(Model.CategoryName)
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <input type="hidden" value="@Model.CategoryId" id="categoryId" />
    </div>
</div>
