﻿@import "../_base.scss";

// Search Text Box Widget.
.search-widget{
    .twitter-typeahead{display:inline !important}
    .btn-text{margin-left:0;}
    i{padding:15px 10px;z-index:999;}
    .tt-dropdown-menu{margin-top:20px;}
} 
#typeahead-results .close{font-size: 15px;opacity: 0.7;padding: 2px 3px;
    &:hover{color:$base-color-primary;opacity:1;}
}