﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel

<div id="layout-paging">
    <div class="search-paging">
        <div class="search-pagination">
            <ul>
                <li class="search-more-nav arrow-left"><a id="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Previous"><i class='zf-md-arrow-left'></i></a></li>
                <li class="search-more-nav arrow-right"><a id="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Next"><i class='zf-md-arrow-right'></i></a></li>
            </ul>
            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
        </div>
        <div class="search-page-no">
            @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
        </div>
    </div>
</div>
