﻿@model Znode.Engine.Admin.ViewModels.StoreListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="panel-container dirtyignore">
        <div class="col-sm-12 title-container">
            <h1>Stores</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon pull-left" onclick="ZnodeBase.prototype.CancelUpload('divSearchAttributePopup')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <button type="button" class="btn-text btn-text-secondary" onclick="Search.prototype.AssociatePortalToProfile()" data-test-selector="linkSave">Associate Stores</button>
            </div>
        </div>
        <section class="col-sm-12 page-container">
            <div id="selectErrorDiv" style="display:none">
                <div class="col-sm-12 nopadding notification-msg margin-bottom" id="body">
                    <div class="messageBoxContainer error-msg text-center" id="messageBoxContainerId">@Admin_Resources.ErrorSelectAtleastOneStore</div>
                </div>
            </div>
            @using (Ajax.BeginForm("GetUnAssociatedPortalList", "Search", new { searchProfileId = Model.SearchProfileId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
    </div>
</div>




