﻿@using Znode.Engine.Admin.ViewModels;
@model SearchProfileViewModel
<div class="aside-tab">
    @*<ul class="nav nav-tabs">
            <li class="panel-label active"><a href="#Simple" data-toggle="tab" class="tabs">@Admin_Resources.TextSimple</a></li>
            <li class="panel-label"><a href="#Advanced" data-toggle="tab" class="tabs">@Admin_Resources.TitleAdvanced</a></li>
        </ul>*@
    <div class="tab-content query-properties">
        <!--Panels 1-->
        @*Panels 2
                   <div class="tab-pane fade" id="@Admin_Resources.TitleAdvanced">
            </div>*@
        <div class="panel panel-default search-attributes">
            <div class="panel-heading">
                <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#divSearchableAttributes" data-test-selector="hdg@(Admin_Resources.TitleSearchableFields.Replace(" ",""))">
                    @Admin_Resources.TitleSearchableFields
                    <div class="help-text">
                        <i class="z-help-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Below fields will be used for searching the entered text. Provide a boost score to increase the relevance of that field."></i>
                    </div>
                </h4>
            </div>
            <div class="panel-collapse collapse in" id="divSearchableAttributes" aria-expanded="true">
                @Html.Partial("~/areas/search/views/search/_searchableattibutes.cshtml", Model)
            </div>
        </div>

        <div class="panel panel-default relevance-ranking">
            <div class="panel-heading">
                <h4 class="panel-title panel-title-edit accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#ranking" data-test-selector="hdg@(Admin_Resources.RelevanceBasedRanking.Replace(" ",""))">@Admin_Resources.RelevanceBasedRanking</h4>
            </div>

            <div id="ranking" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tab-pane fade in active padding-bottom padding-left padding-right">
                        <div class="col-xs-12 nopadding padding-rl-5">
                            <div class="col-xs-12 nopadding">
                                <div class="pull-right margin-top-bottom">
                                    @*<a class="btn-text-icon" onclick="Search.prototype.AddNewRow()"><i class="z-add-circle"></i>@Admin_Resources.Add</a>*@
                                </div>
                            </div>
                            <div id="dyanamicSearchCatalogField">
                                @if (Model.IsIndexExist)
                                {
                                    if (Model.FieldValueFactors?.Count > 0)
                                    {
                                        int count = 0;
                                        <div id="fieldValueList">
                                            @foreach (var fieldValue in Model.FieldValueFactors)
                                            {
                                                <div class="col-xs-12 nopadding rank-section" id="fieldValueListDiv_@count">
                                                    <div class="left-section" id="fieldList">
                                                        <select name="fieldNames">
                                                            <option value="">Select</option>
                                                            @foreach (var item in Model.FieldValueList)
                                                            {
                                                                <option value="@item.AttributeCode" @(fieldValue.Key == item.AttributeCode ? "selected=selected" : "") data-test-selector="opt@(item.AttributeName)">@item.AttributeName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="switch-field padding-top">
                                                        <div class="control-yes-no pull-right">
                                                            <input name="fieldValues.Index" value="@count" type="hidden">
                                                            <input @(fieldValue.Value == 1 ? "checked='checked'" : "") id="fieldValue_left_@count" name="fieldValues[@count]" value="1" type="radio"> <label for="fieldValue_left_@count" data-test-selector="txtASC">ASC</label>
                                                            <input @(fieldValue.Value == 0 ? "checked='checked'" : "") id="fieldValue_right_@count" name="fieldValues[@count]" value="0" type="radio"> <label for="fieldValue_right_@count" data-test-selector="txtDESC">DESC</label>
                                                        </div>
                                                        @*<i onclick="Search.prototype.RemoveRow('fieldValueListDiv_@count')" class="z-close-circle" title="Delete"></i>*@
                                                    </div>
                                                </div>
                                                count++;
                                            }
                                        </div>

                                    }
                                    else
                                    {
                                        <div id="fieldValueList">
                                            <div class="col-xs-12 nopadding rank-section" id="fieldValueListDiv_0">
                                                <div class="left-section" id="fieldList">
                                                    <select name="fieldNames">
                                                        <option value="">Select</option>
                                                        @foreach (var item in Model.FieldValueList)
                                                        {
                                                            <option value="@item.AttributeCode">@item.AttributeName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="switch-field padding-top">
                                                    <div class="control-yes-no pull-right">
                                                        <input name="fieldValues.Index" value="0" type="hidden">
                                                        <input checked='checked' id="fieldValue_left_1" name="fieldValues[0]" value="1" type="radio"> <label for="fieldValue_left_1">ASC</label>
                                                        <input id="fieldValue_right_1" name="fieldValues[0]" value="0" type="radio"> <label for="fieldValue_right_1">DESC</label>
                                                    </div>
                                                    @*<i onclick="Search.prototype.RemoveRow('fieldValueListDiv_0')" class="z-close-circle" title="Delete"></i>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else if (Model.PublishCatalogId > 0)
                                {
                                    <span class="error-msg">
                                        @Html.RenderBlock(Admin_Resources.ErrorSearchIndexNotExistForRelevance)
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @Admin_Resources.ErrorPleaseSelectCatalog
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-title-edit accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#queryproperty" data-test-selector="hdg@(Admin_Resources.TitleQueryProperties.Replace(" ",""))">@Admin_Resources.TitleQueryProperties</h4>
            </div>
            <div id="queryproperty" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tab-pane fade in active padding-bottom" id="Simple">

                        <div class="col-xs-12 nopadding clearfix query-type">
                            @if (Model?.QueryTypes != null && Model?.QueryTypes.Count > 0)
                            {
                                <div class="col-xs-12 nopadding padding-left padding-right">
                                    <h3 class="title">@Admin_Resources.TitleQueryType</h3>
                                    @for (int i = 0; i < Model.QueryTypes.Count; i++)
                                    {
                                        if (Model.QueryTypes[i].ParentSearchQueryTypeId == null)
                                        {
                                            bool ischecked = Model.QueryTypes[i].SearchQueryTypeId == Model.SearchQueryTypeId;
                                            var SubQueryTypes = Model.QueryTypes.Where(x => x.ParentSearchQueryTypeId?.Trim() == Model.QueryTypes[i].SearchQueryTypeId.ToString().Trim())?.ToList();
                                            <div class="control-md">
                                                <div class="col-sm-12 nopadding padding-left padding-bottom">
                                                    <div class="col-sm-9 nopadding">
                                                        <label>
                                                            <input name="SearchQueryTypeId" type="radio" value="@Model.QueryTypes[i].SearchQueryTypeId" onchange="Search.prototype.ShowHideDiv('@Model.QueryTypes[i].QueryTypeName',this)" @(ischecked ? "checked=checked" : "") data-test-selector="lbl@(Model.QueryTypes[i].SearchQueryTypeId)" />
                                                            <span class="lbl padding-8" data-test-selector="spn@(Model.QueryTypes[i].QueryTypeName.Replace(" ",""))">@Model.QueryTypes[i].QueryTypeName</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-3 nopadding">
                                                        <div class="query-help-text">
                                                            @Html.Partial("_HelpText", Model.QueryTypes[i].HelpDescription ?? string.Empty)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 nopadding multi-match-down">
                                                @if (SubQueryTypes.Count > 0)
                                                {
                                                    string divid = $"div{Model.QueryTypes[i].QueryTypeName.Replace(" ", "")}";
                                                    <div id="@divid" class="padding-bottom">
                                                        <select id="text" name="SearchSubQueryTypeId">
                                                            @*<option value="0">@WebStore_Resources.TextSelect</option>*@
                                                            @foreach (var addonValues in SubQueryTypes)
                                                            {
                                                                string addonText = addonValues.QueryTypeName;
                                                                <option value="@addonValues.SearchQueryTypeId" @(addonValues.SearchQueryTypeId == Model.SearchSubQueryTypeId ? "selected=selected" : "") data-test-selector="opt@(addonText)">@addonText</option>
                                                            }
                                                        </select>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }

                                </div>
                            }
                            @* <span id="selectedSubQueryType" style="font-size:large;font-family:'Times New Roman', Times, serif;color:green"></span>*@
                        </div>
                        <div class="col-xs-12 nopadding features-control">
                            <div class="form-group" id="divOperator">
                                <div class="col-xs-12 nopadding switch-aside-label">
                                    <div class="control-label">
                                        <label data-test-selector="lbl@(Admin_Resources.LabelOperator.Replace(" ",""))">@Admin_Resources.LabelOperator</label>
                                    </div>
                                    <div class="switch-field control-yes-no">
                                        <input @(Model.Operator == "OR" ? "checked='checked'" : "") id="Operator_left" name="Operator" value="OR" type="radio"> <label for="Operator_left" data-test-selector="lblOR">OR</label>
                                        <input @(Model.Operator == "AND" ? "checked='checked'" : "") id="Operator_right" name="Operator" value="AND" type="radio"> <label for="Operator_right" data-test-selector="lblAND">AND</label>
                                    </div>
                                    @Html.Partial("_HelpText", @Admin_Resources.HelpDescriptionOperator)

                                </div>
                            </div>
                            <div id="divFeaturesList" class="feature-list-controls">
                                @Html.Partial("../Search/_FeatureList", Model.FeaturesList)
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.SearchQueryTypeId, new { id = "SearchQueryTypeId", name = "SearchQueryTypeId" })
        @Html.HiddenFor(m => m.SearchSubQueryTypeId, new { id = "SearchSubQueryTypeId", name = "SearchSubQueryTypeId" })
        @Html.HiddenFor(m => m.QueryTypeName, new { id = "QueryTypeName", name = "QueryTypeName" })
    </div>

</div>
<script>
    $(document).ready(function () {
        var queryName = $("#QueryTypeName").val();
        Search.prototype.ShowHideDiv(queryName);
    });
</script>
