﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
<h1 class="product-name">@WebUtility.HtmlDecode(Model.Name)</h1>
<div class="product-rating">
    @Html.Partial("_StarRating", Model.Rating)
    @{
        int totalreviews = 0;
        totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
        string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
    }
    @*<p class="review-link hide-in-quick-view">@ratingText<a href="#scrollReview" onclick="javascript: $('#tab-reviews').click();"> Review(s)</a></p>*@
</div>
@*SKU and Brand name is not required have to remove this in future*@
<div class="col-xs-12 nopadding">
    <div class="product-number-details">
        <div class="product-number">
            @if (!string.IsNullOrEmpty(Model.SKU))
            {
                <span>@WebStore_Resources.LabelProductItem:</span>
                string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                @Html.Raw(sku)
            }
        </div>
        <div class="product-brand">
            @if (!string.IsNullOrEmpty(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand)) && Model.IsBrandActive)
            {
                <span>@WebStore_Resources.LabelProductBrand</span>
                <a href="@Url.GetBrandUrl(Model.BrandSeoUrl, null, Model.BrandId)">
                    @Html.Raw(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand))
                </a>
            }
        </div>
    </div>
</div>
<div class="col-xs-12 nopadding product-short-description">@Html.Raw(Model.Attributes.Value("ShortDescription"))</div>
<div class="col-xs-12 nopadding product-description">@Html.Raw(Model.Attributes.Value("LongDescription"))</div>

@*  This code is also not required detele it after confirmation
        <div class="col-xs-12 highlight-container nopadding">
        <div class="col-xs-12 product-highlight nopadding">
            @{
                if (Model.PublishProductId > 0)
                {
                    List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                    if (codesList?.Count > 0)
                    {
                        string highLightsCodes = string.Join(",", codesList);
                        int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
                        Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes });
                    }
                }
            }
        </div>
    </div>*@
