﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
@{
    TempData[WebStoreConstants.ProductCount] = Model?.Products?.Count;
    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();

}


@if (Model?.Products?.Count > 0)
{
    var categoryName = Model.Products.First()?.CategoryName;

    <div class="col-xs-12 nopadding search-result-div">
        @{if ((Model?.IsSearchFromSuggestions).GetValueOrDefault())
            {
                <div class="col-sm-12 nopadding margin-bottom">
                    <p>Showing results for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SuggestTerm)">@Model.SuggestTerm </a>instead  of @Model.SearchKeyword.</p>
                    <p>Search instead for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SearchKeyword)&usesuggestion=false">@Model.SearchKeyword</a>.</p>
                </div>
            }
            else if (!Equals(Model.SearchResultCountText, null))
            {
                <p class="search-result">@Html.Raw(Model.SearchResultCountText.ToString())</p>
            }
        }
    </div>
    <div class="col-xs-12 product-grid nopadding margin-top">
        <div class="col-xs-12 nopadding md-sorter margin-bottom">
            <div class="products-modes-setting pull-right">
                <div class="view-mode pull-right">
                    <a href="javascript:void(0);" class="productview grid-view-opt-active" title="Grid View"><i class="zf-md-grid-view"></i></a>
                    <a href="javascript:void(0);" class="productview list-view-opt" title="List View"><i class="zf-list-view"></i></a>
                    <a href="javascript:void(0);" class="productview text-view-opt" title="Text View"><i class="zf-text-view"></i></a>
                </div>
            </div>
            <div class="top-pagination" id="pagingsearching">
                @Html.Partial("../Search/_PagingSearching", Model)
            </div>
        </div>
        <div class="col-xs-12 product-view nopadding">
            <ul id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view">
                @{
                    if (!Equals(Model, null))
                    {
                        foreach (var p in Model.Products)
                        {
                            <li>
                                <article class="product-item">
                                    @Html.Partial("../Product/_ProductTile", p)
                                </article>
                            </li>
                        }
                    }
                }
            </ul>

            <div id="loading" class="loader" style="display:none;"></div>
        </div>
        <div class="top-pagination bottom-pagination" id="pagingsearching">
            @Html.Partial("../Search/_Pagination", Model)
        </div>
    </div>
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.SearchTextName) && Model.SearchTextName != "Search")
                        {

                            <div class="col-sm-12 nopadding">
                                @string.Format(WebStore_Resources.ErrorProductSearchResult, Model.SearchTextName)
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-12 nopadding margin-bottom">
                                @Html.Raw(WebStore_Resources.NoSearchResultsFound?.Replace("{0}", searchTerm))
                            </div>
                        }
                    }
<script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
    })
</script>