﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" class="product-meta big-view-template" data-id="@productId">
    <!-- Breadcrumb -->
    <div class="container-fluid breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <div id="breadCrumb"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                @Html.Partial("_QuickViewProductView", Model)
                <!--Get Product content like features and cutomer reviews-->
                @Html.Partial("_ProductContent", Model)
                <div class="col-xs-12 nopadding">
                    <div class="product-extras">
                        @Html.Partial("_ProductExtras", Model)
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
        <div id="successMessageDiv" style="display:none">
        </div>
        <div id="divSendMail" style="display:none">
        </div>
    </div>
</div>

<!--Template Level Script-->
<script src="~/Views/Themes/ModernB2C/Scripts/lib/jquery.simpleGallery.js"></script>
<script src="~/Views/Themes/ModernB2C/Scripts/lib/jquery.simpleLens.js"></script>

<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
    $('#ImageZoom .simpleLens-big-image').simpleLens();
</script>