﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";

    int minQty = Convert.ToInt16(Model.Attributes?.Value("MinimumQuantity"));
    int maxQty = Convert.ToInt16(Model.Attributes?.Value("MaximumQuantity"));
    int incQty = Convert.ToInt16(Model.Attributes?.Value("QtyIncrement"));
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    bool addToCartDisabled = Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";

    //for add to cart
    if (Model != null)
    {
        if (Model.CartParameter == null)
        {
            string skucart = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.Attributes.Value(ZnodeConstant.ProductSKU);
            Model.CartParameter = new Dictionary<string, string>();
            Model.ProductType = Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
            Model.CartParameter.Add("ProductId", Model.PublishProductId.ToString());
            Model.CartParameter.Add("SKU", skucart);
            Model.CartParameter.Add("ProductType", Model.ProductType);
            Model.CartParameter.Add("Quantity", Model.Attributes.Value(ZnodeConstant.MinimumQuantity));
            Model.CartParameter.Add("ParentProductId", Model.ParentProductId.ToString());
            Model.CartParameter.Add("ConfigurableProductSKUs", Model.ConfigurableProductSKU);
            Model.CartParameter.Add("AddOnProductSKUs", string.Empty);
            Model.CartParameter.Add("PersonalisedCodes", string.Empty);
            Model.CartParameter.Add("PersonalisedValues", string.Empty);
            if (Model.AddOns.Count > 0)
            {
                Model.CartParameter.Add("AutoAddonSKUs", string.Join(",", Model.AddOns.Where(x => x.IsAutoAddon)?.Select(y => y.AutoAddonSKUs)));
            }
            switch (Model.ProductType)
            {
                case ZnodeConstant.GroupedProduct:
                    Model.CartParameter.Add("GroupProductSKUs", string.Empty);
                    Model.CartParameter.Add("GroupProductsQuantity", string.Empty);
                    break;
                case ZnodeConstant.BundleProduct:
                    Model.CartParameter.Add("BundleProductSKUs", string.Empty);
                    break;
                default:
                    break;
            }
            disable = "";

        }
    }
}
@{
    <div class="col-xs-12 nopadding md-add-to-cart-container">
        <div class="md-spinner-btns">
            <div class="md-spinner">
                <input type="text" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(addToCartDisabled ? "disabled" : "") id="Quantity">
            </div>
        </div>
        <div class="product-wishlist">
            <div class="add-to-actions">
                @Html.AddToCartLink(WebStore_Resources.ButtonAddToCart, "/Product/AddToCart", Model.CartParameter, "add-to-cart", "Product.prototype.BindAddOnProductSKU(this,event)", disable)
                <a href="JavaScript:void(0);" class="add-to-wishlist" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)" title="My Wishlist"><i class="zf-md-wish-list"></i></a>
                @*  Commented because we do not require compare btn on PDP page. *@
                @*<a href="JavaScript:void(0);" class="add-to-compare" onclick="return Category.prototype.AddToCompare(@Model.PublishProductId,@Model.CategoryId)" title="@WebStore_Resources.LabelCompareLink">
                        <i class="zf-md-compare"></i>
                    </a>*@
            </div>
        </div>
        <div class="col-xs-12 nopadding padding-top-10 wishlist-status success-msg"><a id="accountWishList" href="" class=""></a></div>
        <div class="col-xs-12 nopadding padding-top-10">
            <span id="seeMore"></span>
        </div>
        <div class="col-xs-12 nopadding md-share-btns">
            <button type="button" class="print-btn" onclick="window.print();"><i class="zf-printer"></i></button>
        </div>
    </div>
}
