﻿@using Znode.Engine.WebStore.ViewModels
@model QuoteListViewModel

<div id=@Model.GridModel.FrontObjectName class="main-wrapper col">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">@WebStore_Resources.TitleMyAccount</a> / @WebStore_Resources.LabelQuoteHistory</div>
            </div>
        </div>
    </div>
    <div id="layout-account-quotehistory" class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-lg-9 order-history right-container">
                            <div class="row no-gutters">
                                <div class="col-12 p-0">
                                    <h1 class="page-title">@WebStore_Resources.LabelQuoteHistory</h1>
                                </div>
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    <div class="col-12 p-0">
                                        <div class="col-12 product-search p-0">
                                            <div class="col-12 filter-component border-bottom">
                                                @using (Ajax.BeginForm("QuoteHistory", "Quote", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                                {
                                                    <div id="filterComponent">
                                                        @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-12 list-container p-0">
                                                <div class="col-12 p-0">
                                                    @Html.Partial("_DynamicGrid", Model.GridModel)
                                                </div>
                                            </div>
                                            @Html.HiddenFor(m => m.UserId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
                            <div class="col-12">
                                <p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
