﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BrandViewModel>
<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.TitleShopByBrand</h1>
            </div>
            <div class="col-xs-12 nopadding brand-container">
                <div class="col-xs-12 nopadding">
                    <ul class="brand-filter">
                        <li class="pull-left margin-top-bottom">
                            <a href="/Brand/BrandList?brandName=num">#</a>
                        </li>
                        @for (char c = 'A'; c <= 'Z'; c++)
                        {
                            <li class="pull-left margin-top-bottom">
                                <a href='@string.Format("/Brand/BrandList?brandName={0}", c)'>@c</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="col-xs-12 nopadding">
                    <ul class="brand-list">
                        @if (Model?.Count > 0)
                        {
                            foreach (var brand in Model)
                            {
                                if (brand.MediaId > 0)
                                {
                                    <li>
                                        <a href="@Url.GetBrandUrl(brand.SEOFriendlyPageName, null, brand.BrandId)" data-lightbox="enlarge">
                                            <img src="@brand.ImageSmallPath" class="img-responsive" data-src="@brand.ImageSmallPath" alt="" />
                                            <label>@brand.BrandName</label>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.GetBrandUrl(brand.SEOFriendlyPageName, null, brand.BrandId)" data-lightbox="enlarge">
                                            <img src="@brand.ImageSmallPath" class="img-responsive" data-src="@brand.ImageSmallPath" alt="" />
                                            <label>@brand.BrandName</label>
                                        </a>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            <p class="text-center">@WebStore_Resources.LabelNoRecordFound</p>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
