﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BlogNewsCommentViewModel>
@{
    Layout = null;
}
<div class="col-xs-12 nopadding">
    <div class="col-xs-12 nopadding padding-top">
        @if (Model?.Count > 0)
        {
            <div class="col-xs-12 nopadding md-blog-title margin-bottom">
                <h2>@WebStore_Resources.LabelComments</h2>
            </div>
        }
        @foreach (var blogNewsComment in Model)
            {
            <div class="col-xs-12 nopadding comment-list">
                <div class="col-xs-12 nopadding comments">
                    <div class="col-xs-12 nopadding  comment blog-comment">
                        <div class="col-xs-12 col-sm-2 nopadding comment-info">
                            <p>@blogNewsComment.UserName</p>
                        </div>
                        <div class="col-xs-12 col-sm-10 nopadding comment-content">
                            <p class="comment-time">Created on: @blogNewsComment.CreatedDate.ToDateTimeFormat()</p>
                            <p class="comment-details">@blogNewsComment.BlogNewsComment</p>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
