﻿@using Znode.Engine.WebStore.ViewModels
@model PowerBIEmbedViewModel

<div id="layout-account-powerbireport" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LabelPowerBIReports</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                    @Html.Partial("_PowerBIReport", Model)
                </div>
            </div>
        </div>
    </div>
</div>