﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@using Znode.Libraries.ECommerce.Utilities
@model TemplateListViewModel

<div id=@Model.GridModel.FrontObjectName>
    <div class="main-wrapper">
        <div class="container">
            <div class="row user-account">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.LinkTextOrderTemplate</h1>
                </div>
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                        <div class="col-xs-12 nopadding">
                            <div class="col-xs-12 product-search nopadding">
                                <h3 class="section-header">@WebStore_Resources.LinkTextOrderTemplate</h3>

                                @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.InvariantCultureIgnoreCase))
                                {
                                    <p class="sub">@WebStore_Resources.LinkTextTemplateDescription</p>
                                    <div class="pull-right">
                                        @Html.ActionLink("Add Template", "CreateTemplate", "User", new { @class = "btn-text btn-bg-primary margin-bottom" })
                                    </div>
                                }
                                <div class="col-xs-12 filter-component">
                                    @using (Ajax.BeginForm("TemplateList", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                    {
                                        <div id="filterComponent">
                                            @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                        </div>
                                    }
                                </div>
                                <div class="col-xs-12 list-container margin-top nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @Html.Partial("_DynamicGrid", Model.GridModel)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

