﻿@model Znode.Engine.WebStore.ViewModels.WidgetTextViewModel
@if (!Equals(Model, null))
{
    <div id="layout-contentpage">
        @{
            <div class="col-xs-12 nopadding page-title">
                <h1 class="page-title">@Model.PageTitle</h1>
            </div>
            <div class="col-xs-12 nopadding page-text">
                 @Html.Raw(HttpUtility.HtmlDecode(Model.Text))
            </div>
        }
    </div>
}
