﻿@model Znode.Engine.WebStore.ViewModels.WidgetTitleListViewModel
@using Znode.Engine.WebStore.Agents
@{
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
}
<ul class="link-panel-widget">
    @foreach (var link in Model?.TitleList)
    {
        if (string.IsNullOrEmpty(link.MediaPath) && link.IsActive)
        {
            <li>
                <a href="@link.Url" target="_blank">@Html.Raw(link.Title)</a>
            </li>
        }
        else if(link.IsActive)
        {
            <li>
                <a href="@link.Url" target="_blank">
                    <img src="@imagePath/@link.MediaPath" class="img-responsive" data-src="@imagePath/@link.MediaPath" alt="Image" title="@link.Title" />
                </a>
            </li>
        }

    }
</ul>