﻿@model Znode.Engine.WebStore.ViewModels.WidgetProductListViewModel

@if (!Equals(Model?.Products, null))
            {
                string _id = string.Empty;
                if (Model.Products.Count > 0 && Model.DisplayName == "NewArrival")
                {
        <h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.NewArrival)</h3>
        _id = $"Product_List_Widget{1}";
    }
    else if (Model.Products.Count > 0 && Model.DisplayName == "HomePageSpecial")
    {
        <h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.BestSellersTitle)</h3>
        _id = $"Product_List_Widget{2}";
    }
    bool navigationFlag = Model.Products.Count > 4 ? true : false;
    <div class="owl-carousel Product_List_Widget" id="@_id">
        @{
            if (Model.Products.Count > 0)
            {
                foreach (var p in Model.Products)
                {
                    if (!string.IsNullOrEmpty(p.ProductViewModel?.Name))
                    {
                        @Html.Partial("_ProductTitleHome", p)
                    }
                }
            }
        }
    </div>
            <script>
                $("#@_id").owlCarousel({
                    autoPlay: false,
                    navigation: @navigationFlag.ToString().ToLower(),
                    items: 4,
                    itemsCustom: [
                      [0, 1],
                      [320, 1],
                      [480, 2],
                      [600, 2],
                      [768, 2],
                      [992, 3],
                      [1200, 4]
                    ],
                    navigationText: [
                      "<i class='zf-md-arrow-left'></i>",
                      "<i class='zf-md-arrow-right'></i>"
                    ]
                });
            </script>
            }

<script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
    })
</script>
