﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}
<div id="layout-home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding md-home-banner">
                <!--Banner for 4 images Widget-->
                <div class="col-xs-12 col-sm-6 padding-5 banner-block">
                    <div class="col-xs-12 nopadding banner-1">
                        <z-widget>@Html.WidgetPartial("TextEditor", "Banner Left", "2201", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 padding-5 banner-block">
                    <div class="col-xs-12 nopadding banner-2">
                        <z-widget>@Html.WidgetPartial("TextEditor", "Banner Center Top", "2202", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    </div>
                    <div class="col-xs-12 nopadding banner-3">
                        <z-widget>@Html.WidgetPartial("TextEditor", "Banner Center Bottom", "2203", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 padding-5 banner-block">
                    <div class="col-xs-12 nopadding banner-4">
                        <z-widget>@Html.WidgetPartial("TextEditor", "Banner Right", "2204", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 nopadding md-featured-products">
                <div class="widget-title">
                    <span class="content"><strong>@Html.RenderMessage("FeaturedProductsTitle")</strong></span>
                    <span class="title-line"></span>
                </div>
                <!--Featured Products Widget-->
                <z-widget>@Html.WidgetPartial("ProductList", "Featured Products", "6667", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId) </z-widget>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 nopadding md-category-banner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 nopadding">
                            <div class="widget-title">
                                <span class="content"><strong>@Html.RenderMessage("CategoryBannerTitle")</strong></span>
                                <span class="title-line"></span>
                            </div>
                            <!--Category Banner Slider Widget-->
                            <z-widget>@Html.WidgetPartial("OfferBanner", "Browse Our Categories Slider", "1106", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding bottom-container">
                <div class="col-xs-12 nopadding md-just-arrived">
                    <div class="widget-title">
                        <span class="content"><strong>@Html.RenderMessage("JustArrivedTitle")</strong></span>
                        <span class="title-line"></span>
                    </div>
                    <!--Just Arrived Product Widget-->
                    <z-widget>@Html.WidgetPartial("ProductList", "Just Arrived", "2467", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId) </z-widget>
                </div>
                @*<div class="col-xs-12 col-md-6 md-latest-blog">

                    </div>
                    <div class="col-xs-12 col-md-6 md-what-clients-say">

                    </div>*@
                <div class="col-xs-12 nopadding md-brand-slider">
                    <div class="col-xs-12 nopadding">
                        <!--Brand Slider Widget-->
                        <z-widget>@Html.WidgetPartial("OfferBanner", "Brand Slider", "1124", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

