﻿@import "_base.scss";

.nav-home{padding: 8px 4px 8px 0;
    a{background-color:$base-color-primary;border-radius:50px;padding:6px 8px !important;}
    i{font-size: 18px;}
}
.navbar-nav{margin:0;
    > li {
        &:hover {background-color:$base-color-primary;}
        .dropdown-menu {border-top: 5px solid $base-color-primary;}
        > a {padding: 15px;font-size:$base-font-size + 1;color:$base-color-white;text-transform:uppercase;
            &:hover,&:active,&:focus{background-color:$nav-bgcolor-hover;}
        }
        .brand-filter a{font-size:18px;text-align:center;
            &:hover{background-color:#f4f4f4;}
        }
    }
}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu ul {padding: 0 0 10px 15px;
    li {line-height: 40px; min-height: 24px;}
}
.navbar-collapse{background-color:$nav-bgcolor;padding:0;}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {position: static;}
.yamm .container {position: relative;}
.yamm .dropdown-menu {left: auto;}
.yamm .nav.navbar-right .dropdown-menu {left:auto;right:0;}
.yamm .yamm-content {padding:20px;}
.yamm .dropdown.yamm-fw .dropdown-menu {left:0;right:0;}
.yamm .dropdown ul li {width:19%;background-color:transparent;display:inline-block;vertical-align:top;line-height:24px;
    &.view-all a {color:$base-color-primary;}
    a {font-weight:bold; background-color:transparent;color:#333;white-space:normal !important}
    .sub-menu-child {padding-left:30px;
        li {width:100%;list-style:none; 
             a {color:#999;background-color:transparent;}
             ul li a {font-weight:normal;}
        }
    }    
    i {padding-right:10px;color:$base-color-primary;}
}
.yamm .dropdown ul li a:hover, .yamm .dropdown ul li .sub-menu-child li a:hover {color:$base-color-primary;}

// Nav Dropdown Code.
.nav-drop{right:0;line-height:50px;font-size:18px;color:$base-color-white;
    &:hover,&:active,&:focus{color:$base-color-primary;}
}

.nav-drop-container ul{background-color:$nav-bgcolor;margin:0;padding:0;position:absolute;right:-5px;width:50%;border-radius:0;
    li{list-style:none; display:block;position:relative !important;color:$base-color-white;min-height:24px;line-height:40px;
        a{padding:0 15px;color:$base-color-white;width:100%;display:block;}
        &:hover{background-color:$base-color-primary;color:$base-color-white;}

        ul{float:none !important;position:static !important;width:100%;min-height:50px !important;
           li{width:100% !important;
               a{color:$base-color-white !important;padding:10px 15px;}
           }
        }
    }
}

// Media Query.
@include screensize(x-small) {
    nav .nav-home{display:none;}
    .navbar-nav{height:auto !important;}
    .dropdown:hover .dropdown-menu {float:none;position:static;}
    .yamm .dropdown ul li{width:100%;}  
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:100px;}
}
@include screensize(small) {
    nav .nav-home{display:block;}
    .navbar-nav{height:50px !important;}
    .dropdown:hover .dropdown-menu {float:left;position:absolute;}
    .yamm .dropdown ul li{width:25%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:700px;overflow-y:auto;}
}
@include screensize(medium) {
    .yamm .dropdown ul li{width:19%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:450px;overflow-y:auto;}
}
@include screensize(x-large) {
    .yamm .dropdown.yamm-fw .dropdown-menu {max-height:700px;}
}
