﻿@using Znode.Engine.WebStore.ViewModels
@model RMAReturnListViewModel
<div id=@Model.GridModel.FrontObjectName class="main-wrapper col">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">@WebStore_Resources.TitleMyAccount</a> / @WebStore_Resources.TitleReturnHistory</div>
            </div>
        </div>
    </div>
    <div id="layout-account-returnhistory" class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-lg-9 order-history right-container">
                            <div class="row no-gutters">
                                <div class="col-12 p-0">
                                    <h1 class="page-title">@WebStore_Resources.TitleReturnHistory</h1>
                                </div>
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    <div class="col-12 product-search p-0">
                                        <div class="col-12 filter-component border-bottom d-flex justify-content-between align-items-center">
                                            @using (Ajax.BeginForm("GetReturnList", "RMAReturn", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                            {
                                                <div id="filterComponent">
                                                    @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                                </div>
                                            }
                                            <a href="/RMAReturn/GetOrderDetailsForReturn" class="btn btn-primary mb-2 mb-sm-0 px-4" data-test-selector="linkCreateReturn">@WebStore_Resources.LabelCreateReturn</a>
                                        </div>
                                        <div class="col-12 list-container p-0">
                                            <div class="col-12 p-0">
                                                @Html.Partial("_DynamicGrid", Model.GridModel)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
                            <div class="col-12">
                                <p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".zf-edit").attr('class', "edit-icon");
    $('td.z-returnstatus').each(function () {
        if ($(this).text().toLowerCase() != 'not submitted') {
            $(this).closest("tr").find('.edit-icon').attr('style', 'pointer-events: none ; color: white'); }
        else if ($(this).text().toLowerCase() == 'not submitted')
        {
            var manageReturnUrl = $(this).closest("tr").find('.edit-icon').attr('href');
            $(this).closest("tr").find('.zf-view').attr('href', manageReturnUrl);
            $(this).closest("tr").find('.return-number').children().attr('href', manageReturnUrl);
        }
    })
</script>
