﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@{
   
    var accountType = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.RoleName;
}
<ul class="account-menu nav nav-tabs tabs-left">
    <li><a href="@Url.Action("Dashboard", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextYourAccount</a></li>
    @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase))
    {
        <li><a href="@Url.Action("AccountInformation", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextAccountInformation</a></li>
    }
    <li><a href="@Url.Action("Wishlist", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextWishlist</a></li>
    <li><a href="@Url.Action("History", "User",null)" add-value="/User/OrderReceipt"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextOrderHistory</a></li>
    @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
    {
        <li><a href="@Url.Action("TemplateList", "User",null)" add-value="/User/CreateTemplate,/User/EditTemplate,/User/ViewTemplate"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextOrderTemplate</a></li>
        <li><a href="@Url.Action("QuoteHistory", "User",null)" add-value="/User/QuoteView"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextQuoteHistory</a></li>
    }
    <li><a href="@Url.Action("AddressBook", "User",null)" add-value="/User/Address"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextAddressBook</a></li>
    <li><a href="@Url.Action("Reviews", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextReview</a></li>
    <li><a href="@Url.Action("GiftCardHistory", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextGiftCardHistory</a></li>
    <li><a href="@Url.Action("EditProfile", "User",null)" add-value="/User/ChangePassword"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextEditProfile</a></li>
    <li><a href="@Url.Action("GetSavedCreditCards", "User",null)" add-value="/User/GetSavedCreditCard"><i class="zf-caret-right"></i> @WebStore_Resources.LinkSavedCreditCard</a></li>
    <li><a href="@Url.Action("AffiliateInformation", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkAffiliateInformation</a></li>
</ul>

<script>
    // Account Tab Selection
    var selectedTabhref = "/" + $("body").attr("id") + "/" + $("body").attr("class");
    $(".account-dashboard .account-menu a").each(function () {
        var arraySelectedTabs = $.trim($(this).attr("add-value")).split(",");
        if ($.trim($(this).attr("href")) === $.trim(selectedTabhref) || $.trim($(this).attr("add-value")) === $.trim(selectedTabhref) || arraySelectedTabs[0] === $.trim(selectedTabhref) || arraySelectedTabs[1] === $.trim(selectedTabhref) || arraySelectedTabs[2] === $.trim(selectedTabhref)) {
            $(this).addClass("selected");
        }
    });
</script>
