﻿@using Znode.Engine.WebStore.ViewModels
@model ChangePasswordViewModel
@{

}
<div class="container">
    <div class="row main-wrapper register-container">
        <div class="col-xs-12 nopadding login-container">
            <div class="col-xs-12 nopadding">
                @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <div class="col-xs-12 nopadding md-page-title-div">
                        <h2 class="md-page-title">@WebStore_Resources.ButtonResetPassword</h2>
                    </div>
                    <div class="col-xs-12 nopadding inner-container">
                        <div class="col-xs-12 col-sm-6 nopadding account-signup-container">
                            <div class="col-xs-12 nopadding">
                                @if (string.IsNullOrEmpty(Model.PasswordToken))
                                {
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="control-label required">@WebStore_Resources.LabelOldPassword</label>
                                        </div>
                                        <div class="col-xs-12 left-inner-icon nopadding">
                                            <i class="zf-key login-icon"></i>
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.OldPassword)
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <div class="col-xs-12 nopadding">
                                        <label class="control-label required">@WebStore_Resources.LabelNewPassword</label>
                                    </div>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        <i class="zf-key login-icon"></i>
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 nopadding">
                                        <label class="control-label required">@WebStore_Resources.LabelReTypeNewPassword</label>
                                    </div>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        <i class="zf-key login-icon"></i>
                                        @Html.PasswordFor(m => m.ReTypeNewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 nopadding margin-top">
                                        <div class="pull-right">
                                            <input type="submit" class="btn-text btn-color-primary" value="@WebStore_Resources.ResetPasswordButtonText" />
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.PasswordToken)
                                @Html.HiddenFor(x => x.UserName)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>