﻿@model Znode.Engine.WebStore.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = WebStore_Resources.TextResetPassword;
}
<div class="main-wrapper">
    <div class="container">
        <div class="row register-container login-container">
            @using (Html.BeginForm())
            {
                <!--Main Container-->
                <div class="col-xs-12 nopadding md-page-title-div">
                    <h2 class="md-page-title">@WebStore_Resources.TextResetPassword</h2>
                </div>
                <div class="col-sm-12 nopadding reset-admin-password inner-container">                    
                    <div class="col-sm-12 nopadding margin-bottom">
                        <p>@WebStore_Resources.ForgotPasswordMessage</p>
                    </div>
                    <div class="col-xs-11 col-sm-6 nopadding">                        
                        <div class="form-group">
                            <div class="control-label">
                                @Html.Label(WebStore_Resources.LabelOldPassword, new { @class = "required" })
                            </div>
                            <div class="control-md left-inner-icon">
                                <i class="zf-key login-icon"></i>
                                @Html.PasswordFor(m => m.OldPassword, new { @type = "password" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">
                                @Html.Label(WebStore_Resources.LabelNewPassword, new { @class = "required" })
                            </div>
                            <div class="control-md left-inner-icon">
                                <i class="zf-key login-icon"></i>
                                @Html.PasswordFor(m => m.NewPassword, new { @type = "password" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">
                                @Html.Label(WebStore_Resources.LabelConfirmPassword, new { @class = "required" })
                            </div>
                            <div class="control-md left-inner-icon">
                                <i class="zf-key login-icon"></i>
                                @Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password" })
                                <p class="sub">@WebStore_Resources.ValidPassword</p>
                                @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                            </div>

                        </div>
                        <div class="pull-right top-shift">
                            <button type="submit" class="btn-text btn-color-primary">@Admin_Resources.ButtonSave</button>
                        </div>
                        @Html.HiddenFor(x => x.UserName)
                    </div>
                </div>
            }
        </div>
    </div>
</div>
